html{
	margin: 0;
	height: 100%;
	font-family: sans-serif;
	color: black;
	background-color: rgb(153,217,234);
}

body{
 	margin: 0;
 	height: 100%;
 }

h1{
 	text-align: center;
 }

.aussen{
 	float: left;
 	width: 20%;
 	height: 100%;
 	background-color: rgb(0,162,232);
 }

#mitte{
 	float: left;
 	width: 60%;
 }

#ueberschrifthome{
 	font-size: 22px;
 }

#buchstaben{
 	color: rgb(136,0,21);
 }

.zentriert{
 	display: block;
 	margin: 50px auto 50px;

 }

#navigation{
 	width: 200px;
 	height: 180px;
 	border: 3px solid;
 	border-color: rgb(63,72,204);
 }

a{
 	line-height: 60px;
 	width: 200px;
 	background-color: rgb(0,162,232);
 	display: inline-block;
 	text-decoration: none;
 	font-size: 18px;
 	font-weight: bold;
 	text-align: center;
 	color: black;
 }

a:hover{
 	background-color: rgb(63,72,204)
 }

#ueberschriftplayer{
 	font-size: 24px;
 	color: rgb(75 47 37);
 }

 .inhalt{
 	display: block;
 	margin: 50px 20px 50px;
 	float: left;
 	display: inline-block;
 	line-height: 2.5;
 }

 #submitButton{
 	clear: both;
 	display: block;
 	margin: 50px 20px 50px;
 }

 input[type=number] {
   -moz-appearance: textfield;
}
